.navigation {
    display: inline-block;
    flex-direction: row;
    height: 100px; 
    text-align: center;
    line-height: 30px;
}

header {
    background-color: grey;
    width: 100%; 
    vertical-align: middle;
}

.navigation h1 {
    margin-left: 30px;
    font-size: 50px;
}